<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2014, Jari Hämäläinen, Carita Kiili and Julie Coiro
  All rights reserved.
  
  See LICENSE for full license text.
  
  @author Jari Hämäläinen 
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Context param stuff goes here -->
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>loadSaveServlet</servlet-name>
    <servlet-class>fi.jyu.student.jatahama.onlineinquirytool.server.LoadSaveServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loadSaveServlet</servlet-name>
    <url-pattern>/onlineinquirytool/loadsave</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>OnlineInquiryTool.html</welcome-file>
  </welcome-file-list>

</web-app>
